
.btn {
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 10px;
}

.themeAqua{
    background: #B53728;
    color: #fff;
}
.themeDark{
    background: #180A31;
    color: #FFF;
}